/*----------------------------
      layout
 ----------------------------*/
body {
  display: flex;
  justify-content: center;
}
.page-wrapper {
  max-width: 1650px;
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: clamp(24px, 6.4vw, 65px) clamp(24px, 6.4vw, 80px) 98px;

  @media only screen and (min-width: $desktop) {
    padding-bottom: 86px;
  }

  &__logo img {
    width: 80px;
    width: clamp(80px, 21.3333333333vw, 166px);
  }

  &__nav-items {
    display: flex;
    gap: clamp(24px, 6.4vw, 57px);
  }

  &__link {
    font-family: Raleway;
    font-size: clamp(12px, 3.2vw, 16px);
    line-height: clamp(14px, 3.7333333333vw, 18.78px);
    color: $v-dark-blue;
  }
}

/*----------------------------
      hero section 
----------------------------*/
.hero {
  margin: 0 28px 170px;

  @media only screen and (min-width: 1440px) {
    margin: 0 80px 254px;
  }

  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 53px;
  }

  &__content {
    text-align: center;
    margin: 40px 0 0;

    @media only screen and (min-width: $desktop) {
      text-align: left;
      margin: 76px 0 0;
    }
  }

  &__image {
    max-width: 600px;
    margin: 0 auto;
    @media only screen and (min-width: $desktop) {
      flex: 0 0 50%;
      align-self: center;
    }
  }

  &__heading {
    font-size: clamp(24px, 6.4vw, 40px);
    line-height: clamp(36px, 9.6vw, 60px);
    font-weight: 700;
  }

  &__paragraph {
    margin: 24px 0 32px;
    color: $v-dark-blue;

    @media only screen and (min-width: $desktop) {
      letter-spacing: 0.53px;
      margin: 18px 0 26px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      position: relative;
      max-width: unset;
      margin: unset;
    }
  }

  &__input {
    padding: 14px 21px;

    @media only screen and (min-width: $desktop) {
      @media only screen and (min-width: $desktop) {
        flex: 0 0 47%;
      }
    }
  }

  &__button {
    padding: 12px;
    @media only screen and (min-width: $desktop) {
      flex: 0 0 34%;
    }
  }

  &__error-message {
    display: none;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.40000003576278687px;
    text-align: left;
    color: #ef4877;
    margin: -11px 0 0;

    @media only screen and (min-width: $desktop) {
      position: absolute;
      top: 57px;
      margin: 0 0 0 1px;
    }
  }
}

/*----------------------------
      productive section 
----------------------------*/

.productive::before {
  position: absolute;
  content: "";
  top: -65px;
  width: 100vw;
  height: 65px;
  background: url(../images/bg-curve-mobile.svg) no-repeat;
  background-size: cover;

  @media only screen and (min-width: $desktop) {
    background: url(../images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    width: 100%;
    top: -81px;
    height: 81px;
  }
}

.productive {
  position: relative;
  background: $grayish-blue;

  &__container {
    padding: 0 28px 81px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      text-align: left;
      padding: 94px 80px 107px;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;
      gap: 70px;
      flex-direction: row-reverse;
    }
  }

  &__image-container {
    max-width: 600px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      align-items: flex-start;
      flex: 0 0 50.8%;
    }
  }

  &__heading {
    font-size: clamp(16px, 4.2666666667vw, 40px);
    line-height: clamp(24px, 6.4vw, 47px);
    color: $v-dark-blue;
    margin: 87px 0 24px;

    @media only screen and (min-width: $desktop) {
      margin: 0 0 38px;
    }
  }

  &__paragraph {
    color: #615f7e;
  }

  &__paragraph--two {
    margin: 16px 0 36px;
  }

  &__link {
    display: flex;
    align-self: center;
    gap: 8px;

    font-size: clamp(12px, 3.2vw, 16px);
    line-height: clamp(16px, 16px, 21.79px);
    color: $moderate-cyan;
    border-bottom: 1px solid $moderate-cyan;
    padding: 0 0 6px;

    transition: 0.3s ease-in;

    @media only screen and (min-width: $desktop) {
      align-self: flex-start;
    }
  }

  &__link:hover {
    color: #71dfcc;
    border-bottom: 1px solid #71dfcc;
  }

  &__testimonial {
    background: #ffffff;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;

    margin: 40px 0 0;
    padding: 30.5px 26px;
    width: clamp(228px, 60.8vw, 304px);
  }

  &__paragraph-comment::before {
    position: absolute;
    content: url(../images/icon-quotes.svg);
    top: -20px;
  }

  &__paragraph-comment {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.38461539149284363px;
    text-align: left;
    position: relative;
  }

  &__profile {
    display: flex;
    gap: 8px;
    color: $v-dark-blue;
    margin: 12px 0 0;
  }

  &__avatar img {
    width: 24px;
    border-radius: 50%;
  }

  &__name {
    display: block;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.44999998807907104px;
  }

  &__company {
    font-size: 6px;
    letter-spacing: 0.30000001192092896px;
    color: $v-dark-blue;
  }
}

/*----------------------------
      cta section 
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: $desaturated-blue;
  color: $white;
  text-align: center;
  padding: 54px 48px 71px;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    text-align: left;
    padding: 100px 80px 85px;
  }

  &__description {
    flex: 0 0 41%;
  }

  &__heading {
    font-size: 18px;
    line-height: 24px;

    @media only screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  &__paragraph {
    margin: 16px 0 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 0 clamp(40px, 10.6666666667vw, 40px);

    @media only screen and (min-width: $desktop) {
      padding: 0;
      flex: 0 0 37%;
    }
  }

  &__input {
    padding: 9px 8px;

    @media only screen and (min-width: $desktop) {
      padding: 17px 18px;
    }
  }

  &__error-message {
    display: none;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.40000003576278687px;
    margin: -8px 0 0;
  }

  &__button {
    background: #2f65f8;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 3.125px;

    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;

    padding: 9px 8px;

    @media only screen and (min-width: $desktop) {
      align-self: flex-start;
      // width: 42.25%;
      width: 60.25%;
      padding: 16px 0;
    }
  }
}

/*----------------------------
      footer section 
----------------------------*/
.footer {
  background: $v-dark-blue;
  padding: 65px 39px 42px;

  @media only screen and (min-width: $desktop) {
    padding: 6.3888888889vw 5.5555555556vw 5.9722222222vw;
  }

  &__icon-container img {
    width: 105px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    font-size: 16px;
    line-height: 24px;
    color: $white;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      margin: 36px 0 0;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
    gap: 16px;

    @media only screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__contact-item {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__navigation {
    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
    }
  }

  &__nav-items {
    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      gap: 13.8888888889vw;
    }
  }

  &__nav-items a {
    display: block;
    margin: 0 0 16px;
    transition: 0.3s ease-in;
  }

  &__nav-link:hover {
    color: #6c9bff;
  }

  &__nav-item--two {
    margin: 32px 0 0;

    @media only screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__sm-link {
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
    align-items: center;
    color: white;
    border: 0.0625rem solid white;
    border-radius: 50%;
    transition: 0.3s ease-in;
  }

  &__sm-link:hover {
    color: #6c9bff;
    border: 0.0625rem solid #6c9bff;
  }

  &__sm-icon {
    font-size: 12px;
  }
}
