/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 103px;

  &__logo img {
    width: 80px;
    width: clamp(80px, 21.3333333333vw, 166px);
  }

  &__nav-items {
    display: flex;
    gap: 24px;
  }

  &__link {
    font-family: Raleway;
    font-size: clamp(12px, 3.2vw, 16px);
    line-height: clamp(14px, 3.7333333333vw, 18.78px);
    color: $v-dark-blue;
  }
}

/*----------------------------
      hero section 
----------------------------*/
.hero {
  margin: 0 28px 90px;

  &__content {
    margin: 40px 0 0;
    text-align: center;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  &__paragraph {
    margin: 24px 0 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  
}

/*----------------------------
      productive section 
----------------------------*/

/*----------------------------
      cta section 
----------------------------*/

/*----------------------------
      footer section 
----------------------------*/
